.companies-section{
    /* background-color: wheat; */
    color: white;
    position: relative;
}
.companies-section h3{
    text-align: left;
    margin: 50px 0;
    font-size: 35px;
    width: 100%;
}
.companies-logos__container{
    margin: 0 auto;
    display: grid;
    /*grid-template-rows: 1fr 1fr;*/
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    max-width: 1900px;
}
.companies-section__logo{
    margin: 0 auto;
    max-width: 150px;
    object-fit: cover;
    object-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(min-width: 950px){
    .companies-section h3{
        margin: 40px 0;
        font-size: 48px;
        font-weight: 700;
    }
}
@media(min-width: 1032px){
    .companies-section h3{
        margin: 40px 0;
        font-size: 60px;
        font-weight: 700;
    }
}
    @media(min-width: 1200px){
        .companies-section{
            /* background-color: wheat; */
            color: white;
            position: relative;
        }
        .companies-section h3{
            text-align: left;
            margin: 100px 0;
            font-size: 55px;
            width: 65%;
        }
        .companies-logos__container{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 16px;
        }
        .companies-section__logo{
            margin: 0 auto;
            max-width: 170px;
            object-fit: cover;
            object-position: center;
            color: white;
        }
    }
